body {
    margin: 0;
    background: #1B244A;
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

.add-points {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background: #1B244A;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL';
}

.buttons {
    margin-top: 10%
}

.container {
    display: flex;
    justify-content: space-around;
}

.score {
    width: 155px;
    height: 120px;
    background: #000000;
    border-radius: 5px;
}

.score-text {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    color: #F94F6D;
    padding: 10% 0;
    margin: 0;
}

.team {
    width: 149px;
    height: 36px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;

    /* identical to box height, or 90% */
    text-align: center;

    color: #EEEEEE;
}